# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment
.env
.venv/
env/
venv/

# VSCode settings
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Data files
habit_data.pkl

# Logs
*.log

